.table {
    table-layout: fixed;
}
.table th {
    text-align: center;
    background-color: lightgray;
}
.table .cell {
    width: 37px;
}
.table td {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.space.momota {
    background-color: red;
}
.space.ariyasu {
    background-color: green;
}
.space.tamai {
    background-color: yellow;
}
.space.sasaki {
    background-color: pink;
}
.space.takagi {
    background-color: purple;
}
