#chart {
    height: 500px;
}

#chart .loading {
    text-align: center;
    padding-top: 200px;
}

#customize {
    padding: 10px;
    background-color: darkgray;
}
#customize .momota {
    color: red;
}
#customize .ariyasu {
    color: green;
}
#customize .tamai {
    color: yellow;
}
#customize .sasaki {
    color: pink;
}
#customize .takagi {
    color: purple;
}
#customize #permalink {
    cursor: auto;
}
